.Pin-Content {
  text-align: center;
  margin: 75px auto 50px auto;
  max-width: 76%;
}

.Pin-Board {
  display: flex;
  flex-direction: row;
  max-height: max-content;
}

.Back-Arrow {
  display: flex;
  flex-direction: row;
}

.Pin-Square {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  box-shadow: 30px 30px 30px #dddbdb;
  margin-left: 30px;
  width: 100%;

}

.Pin-Image {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.Icons {
  width: 25px;
  margin: 25px;
}

.Icons-sec {
  width: 20px;
  margin: 20px 8px;
}

.Menu {
  text-align: left;
  width: max-content;
  display: flex;
  flex-direction: column;
}

.Menu-Icons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.Menu-Icons-1 {
  margin-right: 65px;
  margin-left: 20px
}

.Menu-Icons-2 {
  margin-left: 20%;
  margin-top: 10px;
}

.Button-Guardar {
  width: 100px;
  height: 50px;
  background-color: #e60023;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.Menu-Description {
  text-align: left;
  margin-top: 10px;
  margin-left: 30px;
}
